node_modules
npm-debug.log
Dockerfile
docker-compose.yml
.env
.env.example
README.md
.gitattributes
README.en
.eslintrc
.eslintcache
.prettierrc
prettier.config.js
.prettierignore


.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

node_modules
.npm

Dockerfile
.dockerignore
docker-compose.yml

.git
.gitignore

dist
build
coverage
.nyc_output

.DS_Store
Thumbs.db

.vscode
.idea

Imsomnia